.invoiceView {
  margin: 5%;
  border: 1px solid $secondary-gray;
  background-color: $white;
  height: 42em;
  max-height: 42em;
  overflow: hidden;

  .invoiceHeading {
    background-color: $secondary-blue;
    border-bottom: 1px solid $secondary-gray;

    h3 {
      color: $white;
    }

    .customer-total {
      margin-top: 1%;
      text-align: center;
      color: $white;
    }
  }

  .invoice-jobs-view {
    padding-left: 5%;
    margin-right: 2%;
    max-height: 40em;
    overflow: auto;

    .invoice-work-entry {
      padding-left: 5%;
      border-bottom: 1px solid $secondary-gray;

      .job-totals {
        margin-top: 2%;
      }
    }
  }
}
