.navbar {
  background-color: $white;
  text-align: center;
  max-height: 55px;

  .customer-indentifier {
    display: inline-block;
    float: left;
  }

  .user-indentifier {
    display: inline-block;
    float: right;
  }

  .center-controller {
    display: inline-block;
    width: 50%;

    button {
      padding: 0.5% 1%;
      margin: 2%;
      display: inline-block;
      border: 2px solid $secondary-gray;
      background-color: $secondary-blue;
    }

    button:hover {
      color: $secondary-red;
      background-color: darken($secondary-blue, 10%);
      opacity: 0.8;
    }
  }
}
