.sidebar-wrapper {
  height: 56em;
  display: inline-block;
  vertical-align: top;
  background-color: $secondary-blue;
  width: 15%;
  transition: all .4s ease 0s;

  .sidebar-top {
    height: 3.9em;
    background-color: darken($secondary-blue, 15%);

    .sidebar-toggle {
      float: right;
      margin: 0.6em;
      font-size: 20px;
      color: $white;
    }

    .sidebar-toggle:hover {
      color: $secondary-gray;
      cursor: pointer;
    }
  }

  .sidebar-info {
    margin: 5%;
    transition: all .4s ease .5s;
  }

}

.toggle-closed {
  width: 3%;
}

.info-closed {
  display: none;
}
