.work-entries {
  margin-top: 5%;

  .entry-info {
    background-color: $white;

    th {
      text-align: center;
    }

    .edit-button:hover {
      color: $secondary-green;
      cursor: pointer;
    }

    .check-button {
      margin: 5%;
      float: left;
      vertical-align: top;
    }

    .check-button:hover {
      color: $secondary-green;
      cursor: pointer;
    }

    .minus-button {
      margin: 5%;
      float: right;
      vertical-align: bottom;
    }

    .minus-button:hover {
      color: $secondary-red;
      cursor: pointer;
    }

    td input {
      border: 2px solid $secondary-blue;
      padding: 2%;
      width: 100%;
      vertical-align: middle;
    }

    td textarea {
      border: 2px solid $secondary-blue;
    }
  }
}
