@import "../bootstrap-sass/stylesheets/bootstrap";
@import "../font-awesome-sass/scss/_font-awesome";
@import url(https://fonts.googleapis.com/css?family=Nobile);
@import "./colors";
@import "./sidebar";
@import "./navbar";
@import "./controlbar";
@import "./newjob";
@import "./jobs";
@import "./newWorkentry";
@import "./workentries";
@import "./invoice";

body, html {
  height: 100%;
  background-color: $primary-gray;
  font-family: Nobile;
}

.invoice-manager {
  display: inline-block;
  width: 85%;
  transition: all .4s ease 0s;
}

.invoice-manager-full {
  width: 97%;
}
